* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    background-color: #00BAFC;
    color: white;
    border: 1px solid #00BAFC;
    padding: 8px 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: white;
    color: #00BAFC;
    transform: scale(0.91);
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

/* -----------------nav start--------------- */

.nav {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    z-index: 100;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 20px 0px;
}

.nav-item {
    margin-left: 15px;
}

.nav-item a {
    padding: 21px 10px;
    color: black;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    transition: 0.1s;
}

.nav-item a:hover {
    border-bottom: 3px solid black;
}

.nav-item:last-child a {
    border-bottom: none;
}

.nav span {
    display: none;
    cursor: pointer;
}
.nav span img {
    width: 30px;
    margin: 20px 0px;
}
/* -----------------main start---------------------- */

.main {
    padding: 150px 0px 0px;
}

.main .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.main-list, .main-video {
    width: 45%;
}

.main-video iframe {
    height: 285px;
}

.main-item {
    margin: 30px 0px;
}

.main-title {
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 130%;
}

.main-text {
    font-size: 20.1px;
}

/* -------------box start--------------- */

.box {
    padding: 100px 0px 50px;
    text-align: center;
}

.box-title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 20px;
}

.text {
    width: 55%;
    margin: 0 auto 40px;
}

.box-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box-item {
    text-align: center;
    width: 27%;
    height: 250px;
    padding: 24px;
    background: #FFFFFF;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 40px 3%;
    transition: 0.3s;
    cursor: pointer;
}

.box-item a {
    display: flex;
    flex-direction: column;
}

.box-item:hover {
    transform: scale(1.01);
    box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.2);
}

.box-item img {
    height: 130px;
    margin: 0 auto;
}

.box-item b {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #000000;
    margin: 10px 0px;
}

.box-item p {
    color: #000000;
}

.bottom-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-btn, .bottom-box a{
    margin: 10px;
}

.bottom-box a {
    text-decoration: underline;
    color: #00BAFC;
    transition: 0.3s;
}

.bottom-box a:hover {
    text-decoration: none;
    color: blue;
}


/* ----------------section start ------------------------*/

.section {
    padding: 70px 0px;
}

.section-title {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 20px;
}

.section-text {
    text-align: center;
    margin-bottom: 50px;
}

.section-list {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}

.section-item {
    margin:20px;
}

.section-item b {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 30px;
}

.section .container div {
    width: 100%;
    text-align: center;
    margin-top: 20px
}

/* -----------conbtent start----------- */

.content {
    padding: 70px 0px;
    background-color: #00BAFC;
    text-align: center;
    width: 100%;
}

.content-title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
}

.content-text {
    color: white;
    margin: 16px auto;
    order: 1;
}

.content-form {
    width: 348px;
    margin: 0 auto;
    padding: 24px;
    background: #FFFFFF;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-form input {
    width: 100%;
    height: 56px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    padding: 5px 15px;
    margin: 16px 0px;
    border: none;
    background: #F3F3F3;
    border-radius: 5px;
}


.content-form select {
    width: 100%;
    height: 56px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    padding: 5px 15px;
    margin: 16px 0px;
    border: none;
    background: #F3F3F3;
    border-radius: 5px;
}

.content-btn {
    margin: 16px 0px;
}

/* --------------footer start--------------- */

.footer {
    padding: 50px 0px;
    background-color: #191919;
}

.footer .container {
    display: flex;
    flex-wrap: wrap;
}

.footer-list {
    margin-right: 120px;
}

.footer-list:last-child {
    margin-right: 0px;
}

.footer-list:first-child {
    width: 280px;
}

.footer-item {
    margin: 7px 0;
}

.footer-item:first-child {
    margin-bottom: 14px;
}

.footer-item b {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: white;
}

.footer-item p {
    color: white;
}

.footer-item a {
    display: flex;
    justify-content: start;
    align-items: center;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    transition: 0.3s;
}

.footer-item a img {
    color: black;
    margin-right: 10px;
}

.footer-item a:hover {
    color: #00BAFC;
}

.footer .container div {
    border: 1px solid #f3f3f371;
    display: none;
    width: 100%;
}


#myBtn {
    height: 60px;
    width: 60px;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.445);
    color: black;
    border-radius: 50%;
    border: 0.1px solid rgba(0, 0, 0, 0.123);
    transition: 0.3s;

}

#myBtn p {
    font-size: 70px;
    font-weight: bold;
    position: absolute;
    bottom: 5px;
    right: 10px;
}

#myBtn:active {
    color: #00BAFC;
    transform: scale(0.9);
}

/* #myBtn:hover {
    color: #00BAFC;
    transform: scale(0.9);
} */

@media(max-width:1160px){
    .container {
        width: 1000px;
    }
    .nav-item {
        margin-left: 13px;
    }
    .nav-item a {
        padding: 20px 9px;
    }
    
    .main-video iframe {
        height: 275px;
    }
}

@media(max-width:1020px){
    .container {
        width: 900px;
    }
    .nav-item {
        margin-left: 12px;
    }
    .nav-item a {
        padding: 18px 9px;
    }
    .main-video iframe {
        height: 270px;
    }
    .text {
        width: 70%;
    }
}

@media(max-width: 920px) {
    .container {
        width: 800px;
    }
    .nav-item {
        margin-left: 10px;
    }
    .nav-item a {
        padding: 16px 7px;
    }
    .main-video iframe {
        height: 265px;
    }
    .text {
        width: 75%;
    }
}
  
@media(max-width: 820px) {
    .container {
        width: 700px;
    }
    .nav-item {
        margin-left: 9px;
    }
    .nav-item a {
        padding: 15px 6px;
    }
    .main .container {
        justify-content: center;
        flex-direction: column-reverse;
    }
    .main-list, .main-video {
        width: 90%;
        text-align: center;
    }
    .main-video iframe {
        height: 360px;
    }
    
    .box-item {
        width: 44%;
        margin: 40px 3%;
    }

    .text {
        width: 80%;
    }

    .section-list {
        flex-wrap: wrap;
    }
    
    .section-lists {
        display: flex;
        flex-direction: column-reverse;
    }

    .section-list .section-item {
        text-align: center;
        width: 100%;
    }

    .section-list .section-item img {
        width: 40%;
    }

    .footer .container {
        justify-content: space-around;
    }

    .footer-list:first-child {
        width: 80%;
        margin: 0 auto;
        border-bottom: 1px solid #f3f3f371;
        margin-bottom: 20px;
    }
    #myBtn {
        bottom: 18px;
        right: 27px;
    }
    #myBtn {
        transform: scale(0.95);
    }
}

@media(max-width: 720px) {
    .container {
        width: 600px;
    }
    .nav-list {
        display: none;
    }

    .nav span {
        display: block;
    }
    .main .container {
        justify-content: center;
    }
    .main-list, .main-video {
        width: 90%;
    }
    .main-video iframe {
        height: 305px;
    }
    .box-item {
        width: 46%;
        margin: 30px 2%;
    }
    .text {
        width: 85%;
    }
    .section-list .section-item img {
        width: 42%;
    }
    #myBtn {
        bottom: 16px;
        right: 24px;
    }
    #myBtn {
        transform: scale(0.9);
    }
}

@media(max-width: 620px) {
    .container {
        width: 500px;
    }
    .nav-item {
        margin-left: 7px;
    }
    .nav-item a {
        padding: 13px 5px;
        font-size: 12px;
    }
    .main .container {
        justify-content: center;
    }
    .main-list, .main-video {
        width: 100%;
    }
    .main-video iframe {
        height: 280px;
    }
    .box-item {
        width: 80%;
        margin: 30px auto;
    }
    .text {
        width: 90%;
    }
    .section-list .section-item img {
        width: 46%;
    }
    #myBtn {
        bottom: 14px;
        right: 21px;
    }
    #myBtn {
        transform: scale(0.88);
    }
}

@media(max-width: 520px) {
    .container {
        width: 400px;
    }
    .nav-item a {
        padding: 13px 5px;
        font-size: 12px;
    }
    .main .container {
        justify-content: center;
    }
    .main-list, .main-video {
        width: 100%;
    }
    .main-video iframe {
        height: 225px;
    }
    .box-item {
        width: 90%;
        margin: 30px auto;
    }
    .text {
        width: 95%;
    }
    .section-list .section-item img {
        width: 50%;
    }
    #myBtn {
        bottom: 12px;
        right: 18px;
    }
    #myBtn {
        transform: scale(0.85);
    }
}

@media(max-width: 420px) {
    .container {
        width: 300px;
    }
    .nav-item a {
        padding: 13px 5px;
        font-size: 12px;
    }
    .main .container {
        justify-content: center;
    }
    .main-list, .main-video {
        width: 100%;
    }
    .main-video iframe {
        height: 185px;
    }
    .box-item {
        width: 100%;
        margin: 30px auto;
    }
    .bottom-box {
        flex-direction: column;
    }

    .section-list .section-item img {
        width: 70%;
    }

    .content-form {
        width: 98%;
    }

    .footer-list {
        width: 100%;
        margin-bottom: 20px;
    }

    .footer .container div {
        display: block;
        margin-bottom: 20px;
    }

    .footer-list:first-child {
        width: auto;
        margin: 0;
        border-bottom: 0px solid #f3f3f371;
    }
    .text {
        width: 100%;
    }
    #myBtn {
        bottom: 10px;
        right: 15px;
    }
}